{% extends "base.njk" %}

{% block content %}

    <section class="site-hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="site-hero-content text-center">
              <h6><strong>{{hero.subTitle}}</strong></h6>
              <h1>
                {{hero.title.firstPara}}
                <br>
                {{hero.title.secondPara}}
              </h1>
              <ul class="site-hero-content-buttons">
                <li>
                  <a href="{{hero.seeWorkBtn.link}}" class="btn btn-secondary scroll-to">
                    <span class="btn-area">
                      <span data-text="{{hero.seeWorkBtn.text}}">
                        {{hero.seeWorkBtn.text}}
                      </span>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="{{hero.connectBtn.link}}" class="btn btn-primary">
                    <span class="btn-area">
                      <span data-text="{{hero.connectBtn.text}}">
                        {{hero.connectBtn.text}}
                      </span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <a href="#counter" class="site-hero-scroll scroll-to">
        <img src="/tldr/assets/images/arrow-down.svg" alt="arrow-down">
      </a>
    </section>

    <section class="site-project" id="project">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>Data-Sitters Little tl;dr</h2>
              <p>Just enough digital humanities to get started.</p>
            </div>
          </div>
          {% for portfolio in collections.portfolios %}
          <div class="col-lg-6 col-md-10 mx-auto">
            <div class="site-project-item">
              <div class="site-project-item-thumb">
               <a href="{{portfolio.data.page.url}}" class="read-more"> <img src="{{portfolio.data.img}}" alt="project-thumb"></a>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="col-12 text-center text-lg-left">
            <a href="/{{portfolio.seeAllbtn.link}}" class="site-project-cta">{{portfolio.seeAllbtn.text}}</a>
          </div>
        </div>
      </div>
    </section>

  
  
{% endblock %}