{% extends "base.njk" %}

{% block content %}


    <section class="site-project" id="project">
        <div class="container">
          <div class="row">
            
            <!--item start-->
            <div class="col-lg-6 col-md-10 mx-auto">
              <div class="site-project-item">
                <div class="site-project-item-thumb">
                  <a href="https://datasittersclub.github.io/tldr/books/tldr1/" class="read-more"><img src="/tldr/assets/images/covers/tldr1.jpg" alt="project-thumb"></a>
                </div>
              </div>
            </div>
<!--item end-->
            
          </div>
        </div>
    </section>
{% endblock %}